// project.scss
// -----------------------------------------------------------------

.single-portfolio {
  .page-title {
    margin: 0 0 15px;
  }
  .project-short-summary {
    font-size: 24px;
    line-height: 1.5;
    margin: 0 0 50px;
  }
  .project-details {
    background: #BEBEBE;
    color: #fff;
    padding: 30px;
    h4 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #7F7F7F;
      margin: 0 0 15px;
      font-family: $font-family-sans-serif;
    }
    .detail-title {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      margin-right: 10px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      line-height: 1.6em;
      li {
        a {
          color: #fff;
        }
      }
    }
    .details-build {
      margin: 0 0 30px;
    }
  }
  .gallery {
    margin: 0 0 50px;
    height: 600px;
    opacity: 0;
    -webkit-transition: opacity .5s 1s;
    transition: opacity .5s 1s;
    &.is-hidden {
      display: none;
    }
    &.flickity-enabled {
      opacity: 1;
    }
    div.is-selected {
      img {
        opacity: 1;
      }
      &:hover {
        a[data-pin-log="button_pinit"] {
          opacity: 1;
        }
      }
    }
    a[data-pin-log="button_pinit"] {
      position: absolute;
      top: 15px;
      left: 20px;
      opacity: 0;
      transition: opacity 150ms;
    }
    img {
      margin: 0 4px;
      height: 600px;
      width: auto;
      opacity: .25;
      transition: opacity 150ms;
    }
    .flickity-prev-next-button {
      width: 60px;
      height: 60px;
      border-radius: 0;
    }
    .flickity-prev-next-button:hover {

    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: rgba(0,0,0,.5);
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }
    /* position outside */
    .flickity-prev-next-button.previous {
      left: -0px;
    }
    .flickity-prev-next-button.next {
      right: -0px;
    }
  }
  .project-actions {
    margin-top: 40px;
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      font-family: $font-family-sans-serif;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: inline-block;
      padding: 4px 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    .back-link {
      margin-right: 15px;
      padding-left: 0;
      &:before {
        content: '';
        background-image: url('assets/img/icon-chevron-back.svg');
        height: 12px;
        width: 7px;
        display: inline-block;
        background-size: cover;
        margin-right: 10px;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
    .pinterest-share {
      color: #BD081C;
      &:before {
        content: '';
        background-image: url('assets/img/icon-pinterest-red.svg');
        height: 20px;
        width: 20px;
        display: inline-block;
        background-size: cover;
        margin-right: 10px;
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .project-summary {
    p:first-child:first-letter {
      float: left;
      font-size: 50px;
      line-height: 45px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }
  }
  .featured-projects {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #e6e6e6;
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
      font-weight: 300;
      letter-spacing: 2.5px;
      margin: 0 0 50px;
    }
  }
  .project-video {
    margin-top: 50px;
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .single-portfolio {
    .project-carousel {
      margin: 0 -15px;
      height: 500px;
      img {
        height: 500px;
      }
    }
    .project-details {
      margin: 0 -15px 30px;
    }
    .project-actions {
      a {
        padding: 12px 30px;
      }
      .back-link {
        border: 1px solid $text-color;
        padding: 12px 30px;
        vertical-align: middle;
      }
      .pinterest-share {
        border: 1px solid #BD081C;
        padding: 11px 30px;
        vertical-align: middle;
      }
    }
    .project-blocks {
      .project-block:nth-child(3) {
        display: none;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .single-portfolio {
    .project-short-summary {
      font-size: 24px;
      margin: 0 0 30px;
    }
    .project-carousel {
      margin: 0 -15px;
      height: 400px;
      img {
        height: 400px;
      }
    }
    .project-details {
      margin: 0 -15px 30px;
      .details-build,
      .details-press {
        margin: 0 0 30px;
      }
    }
    .project-actions {
      text-align: center;
      a {
        padding: 12px 30px;
      }
      .back-link {
        border: 1px solid $text-color;
        padding: 12px 30px;
        vertical-align: middle;
      }
      .pinterest-share {
        border: 1px solid #BD081C;
        padding: 11px 30px;
        vertical-align: middle;
      }
    }
    .project-blocks {
      .project-block:nth-child(3) {
        display: none;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 510px) {

  .single-portfolio {
    .project-actions {
      a {
        display: block;
        width: 100%;
        margin: 0;
      }
      .back-link {
        margin: 0 0 15px;
      }
    }
  }

}


// Up to landscape phone
@media (max-width: 480px) {

  .single-portfolio {
    .project-short-summary {
      font-size: 21px;
      line-height: 1.35;
    }
    .project-details {
      ul {
        li {
          margin: 0 0 10px;
        }
      }
      .detail-title {
        display: block;
      }
    }
    .featured-projects {
      margin-top: 30px;
      padding-top: 30px;
      h3 {
        margin: 0 0 30px;
      }
    }
    .project-video {
      margin-top: 30px;
    }
  }

}
