// community.scss
// -----------------------------------------------------------------

.page-community {
  .page-intro.secondary {
    padding-top: 0 !important;
  }
  .content-blocks.charities {
    .block-photo-wrapper {
      
    }
    .block-photo {
      border: 1px solid #e6e6e6;
      background-color: #fff;
      background-size: 75%;
      background-repeat: no-repeat;
    }
  }
}