// community.scss
// -----------------------------------------------------------------

.page-community {
  .page-intro.secondary {
    padding-top: 0 !important;
  }
  .content-blocks.projects {
    .content-block {
      .block-subtitle {
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1.1px;
        color: #999;
        margin-left: 0;
        display: block;
        text-transform: uppercase;
        margin: 0 0 15px;
        @include tablet {

        }
      }
    }
  }
  .content-blocks.charities {
    .block-photo-wrapper {
      
    }
    .block-photo {
      border: 1px solid #e6e6e6;
      background-color: #fff;
      background-size: 75%;
      background-repeat: no-repeat;
    }
  }
}