// contact.scss
// -----------------------------------------------------------------

.page-template-template-contact {
  address {
    margin: 0;
  }
  .gform_wrapper {
    margin-top: 0;
    font-size: .9em;
    font-family: $font-family-sans-serif;
    .gform_heading {
      display: none;
    }
    .gform_button {
      @extend .btn;
      @extend .btn-primary;
      font-size: 16px;
      font-weight: 700;
    }
    label.gfield_label {
      font-weight: 500;
    }
    .field_sublabel_below .ginput_complex.ginput_container label {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .career-opportunities {
    list-style: none;
    padding: 0;
    li {
      margin: 0 0 10px;
    }
  }
}