.page-template-template-gallery {

  .page-title {
    margin-bottom: 30px;
    @include clearfix;
    h1 {
      float: left;
    }
  }
  .filter-select-wrapper {
    float: right;
    font-family: $font-family-sans-serif;
    label {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      display: inline-block;
    }
    .filter-select {
      width: 345px;
      display: inline-block;
      box-shadow: none;
      border-color: #e6e6e6;
      border-radius: 0;
      -webkit-appearance: none;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-image: url('assets/img/icon-chevron-down-dark.svg');
      background-repeat: no-repeat;
      background-position: 315px 50%;
    }
  }
  .filter-buttons {
    margin: 0 0 30px;
    .btn {
      font-family: $font-family-sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      border-color: #e6e6e6;
      letter-spacing: 1.5px;
      border-radius: 2px;
      transition: 150ms;
      margin: 0 2px 5px 0;
      cursor: pointer;
      &:hover {
        border-color: darken(#e6e6e6, 15%);
        background: #fff;
      }
      &:active,
      &.is-checked {
        background-color: $body-color;
        color: #fff;
        border-color: $body-color;
        outline: none;
      }

    }
  }

  .filter-select-wrapper {
    display: none;
  }

  /* ---- isotope ---- */
  .grid {
    &:before {
      content: '';
      background-image: url('assets/img/loading.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px;
      height: 50px;
      width: 250px;
      display: block;
      margin: 100px auto;
      opacity: .5;
    }
    &.layout-complete {
      &:before {
        display: none;
      }
    }
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer,
  .grid-item {
    width: 33%;
  }

  .grid-item {
    float: left;
    border: 2.5px solid #fff;
    opacity: 0;
    transition: opacity 200ms;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }

  .grid.layout-complete .grid-item {
    opacity: 1;
  }

}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {



}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .page-template-template-gallery {
    .filter-buttons {
      display: none;
    }
    .filter-select-wrapper {
      display: block;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .page-template-template-gallery {
    .page-title {
      h1 {
        float: none;
        margin: 0 0 30px;
      }
    }
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
    .grid-item img {
      width: 100%;
    }
    .filter-buttons {
      display: none;
    }
    .filter-select-wrapper {
      display: block;
      float: none;
      margin: 0 0 20px;
      select {
        display: block;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .page-title {
    h1 {
      float: none;
      margin: 0 0 15px;
    }
    .filter-select-wrapper {
      float: none;
      margin: 0;
      select {
        width: 100%;
        background-position: 95% 50%;
      }
    }
  }

}
