// portfolio.scss
// -----------------------------------------------------------------

.post-type-archive-portfolio,
.tax-portfolio-category {
  .portfolio-categories-dropdown {
    font-family: $font-family-sans-serif;
    margin: -15px 0 30px;
  }
  .portfolio-categories {
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: right;
    li {
      display: inline-block;
      margin: 0 0 0 0;
      &:last-child a {
        border: 0;
        padding-right: 0;
      }
      a {
        display: block;
        text-decoration: none;
        font-family: $font-family-sans-serif;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 10px;
        color: rgba($black, .5);
        border-right: 2px solid rgba($black, .5);
      }
      &.current-cat a {
        color: rgba($black, 1);
      }
    }
  }
  .archive-description {
    margin: 0 0 50px;
    p {
      margin: 0;
    }
  }
  .page-title {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
  .features-dropdown {
    margin-left: auto;
    font-family: $font-family-sans-serif;
    form {
      label {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: inline-block;
      }
      select {
        width: 345px;
        display: inline-block;
        box-shadow: none;
        border-color: #e6e6e6;
        border-radius: 0;
        -webkit-appearance: none;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-image: url('../../../dist/asset/img/icon-chevron-down-dark.svg');
        background-repeat: no-repeat;
        background-position: 315px 50%;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .post-type-archive-portfolio,
  .tax-portfolio-category {

  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .post-type-archive-portfolio,
  .tax-portfolio-category {
    .portfolio-categories {
      text-align: left;
      width: 100%;
      margin-left: 0;
      margin-top: 25px;
      li {
        &:last-child a {
          border: 0;
          padding-right: 10px;
        }
        &:first-child a {
          padding-left: 0;
        }
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .post-type-archive-portfolio,
  .tax-portfolio-category {
    .portfolio-categories {
      text-align: left;
      width: 100%;
      margin-left: 0;
      margin-top: 25px;
      li {
        &:last-child a {
          border: 0;
          padding-right: 10px;
        }
        &:first-child a {
          padding-left: 0;
        }
      }
    }
    .archive-description {
      margin: 0 0 40px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .post-type-archive-portfolio,
  .tax-portfolio-category {
    .archive-description {
      margin: 0 0 30px;
    }
  }

}
