// press.scss
// -----------------------------------------------------------------

.page-template-template-press {
  .press-pieces {
    display: flex;
    flex-flow: row wrap;
    .press-piece {
      margin: 0 15px 15px 0;
      width: calc(25% - 11.25px);
      &:nth-child(4n+4) {
        margin-right: 0;
      }
      &:nth-child(2n+2) {
        @include tablet {
          margin-right: 0;
        }
      }
      @include tablet {
        width: calc(50% - 7.5px);
      }
      a {
        display: block;
        height: 350px;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        text-indent: -9999px;
        @include tablet-lg {
          height: 250px;
        }
        @include tablet {
          height: 300px;
        }
        @include mobile {
          height: 250px;
        }
      }
    }
  }
}
