// process.scss
// -----------------------------------------------------------------

.page-process {
  .quote-statement {
    font-size: 21px;
    margin: 0 0 60px;
  }
  .philosophy-summary {
    p {
      margin: 0 0 30px;
    }
    strong {
      display: block;
      font-family: $font-family-sans-serif;
      font-weight: 500;
      margin: 0 0 10px;
    }
  }
  
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .page-process {
    .quote-statment {
      margin: 0 0 30px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .page-process {
    .flexslider {
      display: none;
    }
  }

}
