.home {
  .gallery {
    height: 85vh;
    -webkit-transition: opacity .5s .5s;
    transition: opacity .5s .5s;
    opacity: 0;
    @include tablet-lg {
      height: 500px;
    }
    @include tablet {
      height: 400px;
    }
    
    &.flickity-loaded {
      opacity: 1;
    }
    img {
      height: 85vh;
      width: 100%;
      transition: opacity 150ms;
      object-position: 50% 50%;
      object-fit: cover;
      @include tablet-lg {
        height: 500px;
      }
      @include tablet {
        height: 400px;
      }
    }
  }
}