.home {
  .home-intro {
    padding: 50px 0;
    display: flex;
    align-items: center;
    @include tablet-lg {
      flex-flow: row wrap;
      padding: 25px 0;
    }
    @include tablet {
      flex-flow: row wrap;
      padding: 25px 0;
    }
    h2 {
      width: 33.3333%;
      font-size: 24px;
      font-family: $font-family-sans-serif;
      line-height: 1.125em;
      letter-spacing: 4px;
      margin: 0;
      padding: 10px 25px 10px 0;
      text-align: right;
      font-weight: 500;
      border-right: 2px solid $black;
      @include tablet-lg {
        margin: 0 0 15px;
        font-size: 21px;
        width: 100%;
        padding: 0;
        text-align: left;
        letter-spacing: 2px;
        border: 0;
        padding: 0;
      }
      @include tablet {
        margin: 0 0 15px;
        font-size: 21px;
        width: 100%;
        padding: 0;
        text-align: left;
        letter-spacing: 2px;
        border: 0;
        padding: 0;
      }
    }
    .homepage-summary {
      width: 66.6666%;
      @include tablet-lg {
        width: 100%;
      }
      @include tablet {
        width: 100%;
      }
    }
    p {
      font-family: $font-family-sans-serif;
      font-weight: 500;
      font-size: 16px;
      margin: 0;
      padding: 0 0 0 25px;
      line-height: 1.25em;
      @include tablet-lg {
        padding: 0;
        font-size: 16px;
      }
      @include tablet {
        padding: 0;
        font-size: 16px;
      }
    }
  }
}