.home {
  .home-video {
    margin: 0 0 50px;
    @include tablet {
      margin: 0 0 40px;
    }
    @include mobile {
      margin: 0 0 30px;
    }
    .video-preview {
      overflow: hidden;
      height: 0;
      padding-top: 56.25%;
      background: $grey-bg;
      position: relative;
      @include tablet-lg {
        height: 60vw;
        margin: 0 0 30px;
      }
      @include tablet {
        height: 80vw;
        margin: 0 0 30px;
      }
      .btn-video {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
      }
      video#bgvid { 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        background: url('../img/video-poster.jpg') no-repeat;
        background-size: cover;
      }
    }
    .testimonial-quote {
      background: $grey-bg;
      padding: 30px;
      text-align: center;
      line-height: 1.25;
      margin: 0 0 30px;
      p {
        font-size: 36px;
        font-family: $font-family-display;
        font-style: italic;
        margin: 0;
        color: $black;
        @include mobile {
          font-size: 30px;
        }
      }
    }
    .testimonial-thumbs {
      margin: 0 0 60px;
      @include tablet-lg {
        margin: 0 0 25px;
      }
      @include tablet {
        margin: 0 0 25px;
      }
      @include mobile {
        margin: 0 0 15px;
      }
      .testimonial-thumb {
        height: 240px;
        width: 100%;
        object-fit: cover;
        object-position: 50%;
        @include tablet-lg {
          margin: 0 0 30px;
        }
        @include tablet {
          margin: 0 0 15px;
        }
      }
    }
    .testimonial-cta {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        @include mobile {
          width: 100%;
        }
        i {
          vertical-align: middle;
          line-height: 1;
          margin-right: 5px;
          transform: translateY(-2px);
        }
      }
    }
  }
}