.project-blocks {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.project-block {
  height: 300px;
  width: 32.75%;
  margin: 0 0.4% 10px;
  background: #BEBEBE;
  position: relative;
  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  &.compat-object-fit {
    background-position: 50% 50%;
    background-size: cover;
    img {
      opacity: 0;
    }
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(3n+1) {
    margin-left: 0;
  }
  &:hover {
    figcaption {
      padding-top: 150px;
    }
  }
  a {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px 15px 15px;
    transition: padding-top 250ms ease;
    @include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,.5), 0%, 100%);
    h2 {
      font-size: 14px;
      letter-spacing: 2.2px;
      text-transform: uppercase;
      color: #fff;
      margin: 0;
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .project-block {
    height: 275px;
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .project-block {
    height: 300px;
    width: 49.5%;
    margin: 0 0.5% 10px;
    &:nth-child(3n) {
      margin-right: 0.5%;
    }
    &:nth-child(3n+1) {
      margin-left: 0.5%;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .page-title {
    h1 {
      float: none;
      margin: 0 0 30px;
    }
    .features-dropdown {
      float: none;
      margin: 0 0 20px;
      select {
        display: block;
      }
    }
  }
  .project-block {
    height: 250px;
    width: 49.5%;
    margin: 0 0.5% 10px;
    &:nth-child(3n) {
      margin-right: 0.5%;
    }
    &:nth-child(3n+1) {
      margin-left: 0.5%;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    figcaption {
      padding: 60px 15px 15px;
    }
    &:hover {
      figcaption {
        padding-top: 80px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {


  .project-block {
    height: 250px;
    width: 100%;
    margin: 0 0 10px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(3n+1) {
      margin-left: 0;
    }
    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    figcaption {
      padding: 60px 15px 15px;
    }
    &:hover {
      figcaption {
        padding-top: 80px;
      }
    }
  }

}
