// page.scss
// -----------------------------------------------------------------

button, a {
  outline: none;
  &:focus {
    outline: none;
  }
}
body {

}

a {
  text-decoration: underline;
}

.container-fluid {
  max-width: 1440px;

}

main {
  margin: 0 0 60px;
}

// Page titles
.page-title {
  margin: 0 0 50px;
}

h1.page-title,
h2.page-title,
.page-title h1,
.page-title h2 {
  font-size: 42px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  margin: 0;
}

h1.page-title,
h2.page-title {
  margin: 0 0 50px;
}

.page-statement {
  margin: -25px 0 50px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
}

// Page billboards
.page-billboard {
  background-color: #555;
  background-size: cover;
  color: #fff;
  position: relative;
  margin: -50px 0 30px;
  padding: 200px 0 50px;
  background-position: 50% 25%;
  .gradient {
    @include gradient-y(rgba(0,0,0,0), rgba(0,0,0,.5), 0%, 100%);
    height: 170px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h1,
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 52px;
    letter-spacing: 6px;
    margin: 0;
    text-shadow: 0 2px 16px rgba(0,0,0,.5);
    position: relative;
    z-index: 100;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.feature-img {
  width: 100%;
  margin: 0 0 60px;
}

.hidden { display: none; }

.container-fluid {
  @include desktop-lg {
    padding-left: ($grid-gutter-width * 2);
    padding-right: ($grid-gutter-width * 2);
  }
  @include desktop {
    padding-left: ($grid-gutter-width * 2);
    padding-right: ($grid-gutter-width * 2);
  }
  @include tablet-lg {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  @include tablet {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  @include mobile {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  main {
    margin: 0 0 30px;
  }

}

// Up to tablet
@media (max-width: 767px) {

  main {
    margin: 0 0 30px;
  }

  .page-title {
    margin: 0 0 30px;
  }
  h1.page-title,
  h2.page-title,
  .page-title h1,
  .page-title h2 {
    font-size: 30px;
    letter-spacing: 4px;
  }

  h1.page-title,
  h2.page-title {
    margin: 0 0 30px;
  }

  .page-statement {
    margin: 0 0 30px;
  }

  .feature-img {
    margin: 0 0 30px;
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .page-title {
    font-size: 24px;
    letter-spacing: 3px;
    margin: 0 0 30px;
  }
  .page-statement {
    font-size: 24px;
    margin: 0 0 30px;
  }

}
