// site-header.scss
// -----------------------------------------------------------------

.site-header {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 50px;
  .container-fluid {
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .dropdown-menu {
    .dropdown-item {
      letter-spacing: 0 !important;
      text-transform: none !important;
      font-size: 18px !important;
    }
    @include desktop-lg {
      box-shadow: 0 2px 24px rgba(0,0,0,.2);
      background: #fff;
      border: 0;
    }
    @include desktop {
      box-shadow: 0 2px 24px rgba(0,0,0,.2);
      background: #fff;
      border: 0;
    }
    @include tablet-lg {
      border: 0;
      padding: 0 15px;
    }
    @include tablet {
      border: 0;
      padding: 0 15px;
    }
  }
  .dropdown-toggle:after {
    font-family: 'Material Icons';
    content: '\e313';
    border: 0;
    vertical-align: middle;
    transform: translateY(-2px);
  }
  .navbar-brand {
    padding: 13px 15px 13px 0;
    font-size: 15px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 1.2em;
    font-weight: 600;
    img {
      height: 32px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-left: 75px;
      & > li {
        a {
          padding-left: 10px;
          padding-right: 10px;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          color: #333;
          &:hover {
            color: #000;
          }
        }
        &.current-menu-item {
          a {
            font-style: italic;
          }
        }
        &:last-child > a {
          padding-right: 0;
        }
      }
    }
  }
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
      width: 27px;
    }
  }
}


// Media Queries
// --------------------------------------------------

// Desktop to large desktop
@media (min-width: 1076px) and (max-width: 1199px) {

  .site-header {
    .navbar-collapse {
      .navbar-nav {
        margin-left: 40px;
      }
    }
  }

}

@media (min-width: 1076px) and (max-width: 1105px) {

  .site-header {
      .navbar-brand {
        img {
          height: 30px;
        }
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 15px;
      }
    }
  }

}


@media (min-width: 992px) and (max-width: 1075px) {

  .site-header {
      .navbar-brand {
        img {
          height: 27px;
        }
      }
    .navbar-collapse {
      margin-right: -15px;
      .navbar-left {
        float: right !important;
        margin-left: 0;
        & > li {
          a {
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .site-header {
      .navbar-nav {
        font-size: 17px;
      }
      .navbar-brand {
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 0;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .site-header {
    margin: 0 0 30px;
      .navbar-brand {
      }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .site-header {
      .navbar-brand {
        font-size: 13px;
        letter-spacing: 5px;
        .subtext {
          letter-spacing: 3.5px;
        }
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 0;
        .nav-link {
          padding-left: 0;
        }
      }
    }
  }

}
