// site-footer.scss
// -----------------------------------------------------------------

.site-footer {
  margin: 50px 0;
  address {
    line-height: 1.5;
    font-size: 14px;
    margin: 0 0 30px;
    font-family: $font-family-sans-serif; 
    strong {
      display: block;
      font-size: 14px;
      color: #222;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3.3px;
      margin: 0 0 5px;
      font-family: $font-family-serif;
    }
  }
  .footer-company {
    font-size: 14px;
    margin-top: 5px;
  }
  .ml-badge {
    text-align: right;
    img {
      max-width: 150px;
    }
  }
  .footer-callout {
    margin-top: 28px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-family: $font-family-sans-serif;
  }
  .footer-social {
    text-align: center;
    a {
      display: inline-block;
      margin-right: 15px;
      opacity: .3;
      transition: opacity 150ms;
      &:hover {
        opacity: 1;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .site-footer {
    text-align: center;
    .ml-badge {
      margin: 0 0 50px;
      text-align: center;
    }
    address,
    .footer-company,
    .footer-callout,
    .footer-social {
      margin: 0 0 50px;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .site-footer {
    text-align: center;
    .ml-badge {
      margin: 0 0 50px;
      text-align: center;
    }
    address,
    .footer-company,
    .footer-callout,
    .footer-social {
      margin: 0 0 50px;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .site-footer {
    margin: 30px 0;
    text-align: center;
    .ml-badge {
      margin: 0 0 30px;
    }
    address,
    .footer-company,
    .footer-callout,
    .footer-social {
      margin: 0 0 30px;
    }
    .footer-callout {
      font-size: 21px;
    }
  }

}
