// site-header.scss
// -----------------------------------------------------------------

.site-header {
  margin-bottom: 50px;
  z-index: 100;
  .container-fluid {
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    padding-top: 0;
    margin-top: -3px;
    .dropdown-item {
      text-align: right;
      padding-right: 15px !important;
    }
    @include desktop-lg {
      background: #fff;
      border: 0;
    }
    @include desktop {
      background: #fff;
      border: 0;
    }
    @include tablet-lg {
      border: 0;
      padding: 0 15px;
    }
    @include tablet {
      border: 0;
      padding: 0 15px;
    }
  }
  .dropdown-toggle:after {
    font-family: 'Material Icons';
    content: '\e313';
    border: 0;
    vertical-align: middle;
    transform: translateY(-2px);
  }
  .navbar-brand {
    padding: 13px 15px 13px 0;
    font-size: 15px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 1.2em;
    font-weight: 600;
    img {
      height: 40px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-left: 75px;
      font-family: $font-family-sans-serif;
      & > li {
        a {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 0;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          color: #333;
          &:hover {
            color: #000;
          }
          &:focus {
            background: transparent;
          }
        }
        // &.current-menu-item {
        //   a {
        //     font-style: italic;
        //   }
        // }
        &:last-child > a {
          padding-right: 0;
        }
      }
    }
  }
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
      width: 27px;
    }
  }
}

.site-header.inverse {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  border: 0;
  background: rgba(0,0,0,.85);
  .navbar-brand {
    color: #fff;
    img {
      height: 32px;
    }
  }
  .navbar-collapse {
    .navbar-nav {
      & > li {
        a {
          color: #fff;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .dropdown-menu {
    .dropdown-item span {
      color: #333;
      &:hover {
        color: #000;
      }
    }
  }
  .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255, 0.1);
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
  }
}


// Media Queries
// --------------------------------------------------

// Desktop to large desktop
@media (min-width: 1076px) and (max-width: 1199px) {

  .site-header {
    .navbar-collapse {
      .navbar-nav {
        margin-left: 40px;
      }
    }
  }

}

@media (min-width: 1076px) and (max-width: 1105px) {

  .site-header {
      .navbar-brand {
        img {
          height: 30px;
        }
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 15px;
      }
    }
  }

}


@media (min-width: 992px) and (max-width: 1075px) {

  .site-header {
      .navbar-brand {
        img {
          height: 27px;
        }
      }
    .navbar-collapse {
      margin-right: -15px;
      .navbar-left {
        float: right !important;
        margin-left: 0;
        & > li {
          a {
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .site-header {
      .navbar-nav {
        font-size: 17px;
      }
      .navbar-brand {
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 0;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .site-header {
    margin: 0 0 30px;
      .navbar-brand {
      }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .site-header {
      .navbar-brand {
        font-size: 13px;
        letter-spacing: 5px;
        .subtext {
          letter-spacing: 3.5px;
        }
      }
    .navbar-collapse {
      .navbar-nav {
        margin-left: 0;
        .nav-link {
          padding-left: 0;
        }
      }
    }
  }

}
