// site-header.scss
// -----------------------------------------------------------------

.site-header {
  margin-bottom: 50px;
  z-index: 100;
  @include tablet-lg {
    margin-bottom: 25px;
  }
  @include tablet {
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
  }
  @include mobile {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    @include tablet-lg {
      padding: 0 15px;
    }
    @include tablet {
      padding: 0 15px;
    }
    @include mobile {
      padding: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    padding-top: 0;
    margin-top: -3px;
    .dropdown-item {
      text-align: right;
      padding-right: 15px !important;
      @include tablet-lg {
        text-align: left;
      }
      @include tablet {
        text-align: left;
      }
    }
    @include desktop-lg {
      background: #fff;
      border: 0;
    }
    @include desktop {
      background: #fff;
      border: 0;
    }
    @include tablet-lg {
      border: 0;
      padding: 0 15px;
    }
    @include tablet {
      border: 0;
      padding: 0 15px;
    }
  }
  .dropdown-toggle:after {
    font-family: 'Material Icons';
    content: '\e313';
    border: 0;
    vertical-align: middle;
    transform: translateY(-2px);
  }
  .navbar-brand {
    padding: 13px 15px 13px 0;
    font-size: 15px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 1.2em;
    font-weight: 600;
    img {
      height: 43px;
      @include desktop {
        height: 33px;
      }
      @include tablet {
        height: 30px;
      }
      @include mobile {
        height: 24px;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-left: 75px;
      font-family: $font-family-sans-serif;
      & > li {
        a {
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 0;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 2px;
          color: #333;
          @include tablet-lg {
            padding-left: 0;
            padding-right: 0;
          }
          @include tablet {
            padding-left: 0;
            padding-right: 0;
          }
          &:hover {
            color: #000;
          }
          &:focus {
            background: transparent;
          }
        }
        // &.current-menu-item {
        //   a {
        //     font-style: italic;
        //   }
        // }
        &:last-child > a {
          padding-right: 0;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-toggler {
    border-color: transparent;
    padding-right: 0;
    .navbar-toggler-icon {
      height: 27px;
      width: 27px;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2855, 51, 48, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }
  }
}


