.content-block {
  margin: 0 0 50px;
  display: flex;
  align-items: flex-start;
  .block-photo-wrapper {
    width: 33.3333%;
    margin: 0;
    padding: 0 25px 0 0;
  }
  .block-photo {
    background-color: $grey-bg;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    height: 0;
    padding-top: 66.6666%;
  }
  .block-content {
    width: 66.6666%;
    padding: 0 0 0 25px;
    margin: 0;
  }
  .block-title {
    font-size: 21px;
    margin: 0 0 15px;
    font-family: $font-family-sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    .block-subtitle {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1.1px;
      color: #999;
      margin-left: 3px;
    }
  }
  .block-summary {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 1.25;
  }
}