.gallery {
  height: 654px;
  opacity: 0;
  transition: opacity .5s 1s;
  @include desktop {
    height: 548px;
  }
  @include tablet-lg {
    height: 406px;
  }
  @include tablet {
    height: 320px;
  }
  &.is-hidden {
    display: none;
  }
  &.flickity-enabled {
    opacity: 1;
  }
  div.is-selected {
    img {
      opacity: 1;
    }
  }
  img {
    height: 654px;
    margin: 0;
    width: auto;
    opacity: .5;
    transition: opacity 150ms;
    display: block;
    @include tablet-lg {
      height: 548px;
    }
    @include tablet {
      height: 406px;
    }
    @include mobile {
      height: 320px;
    }
  }
  .flickity-page-dots {
    bottom: 50px;
    @include tablet-lg {
      bottom: 25px;
    }
    @include tablet {
      bottom: 25px;
    }
    .dot {
      background: #fff;
      opacity: .6;
      @include tablet {
        height: 6px;
        width: 6px;
        margin: 0 4px;
      }
      &.is-selected {
        opacity: 1;
      }
    }
  }
}